[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
"oauth2client" = "*"
ansible-vault = "*"
"Jinja2" = "*"
invoke = "*"
pandas = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
